.latest-news__header {
    border-block-end: 1px dotted #000;
}

.latest-news__heading {
    font-family: "Schibsted Grotesk", sans-serif;
    color: var(--clr-primary-four);
    font-size: 0.75rem;
    padding-block-end: 0.3rem;
}

.latest-news__list {
    list-style: none;
}

.latest-news__list-item {
    border-block-end: 1px dotted #aaa;
    padding-block: 0.3rem;
}

.latest-news__list-item:last-child {
    border-block-end: 1px dotted #000;
}

.latest-news__time {
    color: var(--clr-secondary-one);
    font-family: "Schibsted Grotesk", sans-serif;
    font-size: 0.5rem;
}

.latest-news__link-list {
    text-decoration: none;
}

.latest-news__subheading {
    font-size: 0.65rem;
}

.latest-news__link-bottom {
    text-decoration: none;
    display: block;
    font-family: "Schibsted Grotesk", sans-serif;
    font-size: 0.55rem;
    font-weight: 800;
}